{% render 'otsb-slideshow-base' %}

{% schema %}
{
  "name": "OT: Slideshow #1",
  "tag": "section",
  "class": "section section-slideshow",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_hero",
      "label": "Used as Hero",
      "info": "Enable if this section is used as hero, disable if not."
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "Enable auto-play",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 5,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_arrow",
      "label": "Next/Previous arrows",
      "default": false,
      "info": "Show navigation arrows"
    },
    {
      "type": "color",
      "id": "slider_button_color",
      "default": "#525151",
      "label": "Slider button color"
    },
    {
      "type": "color",
      "id": "slider_button_text_color",
      "default": "#525151",
      "label": "Slider button text color"
    },
    {
      "type": "color",
      "id": "slider_button_hover_color",
      "default": "#ff6600",
      "label": "Slider button hover color"
    },
    {
      "type": "color",
      "id": "slider_button_hover_text_color",
      "default": "#000",
      "label": "Slider button hover text color"
    },
    {
      "type": "select",
      "id": "transition_style",
      "options": [
        {
          "value": "default",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "fade",
      "label": "Transition style"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "bars",
          "label": "Bars"
        }
      ],
      "default": "bars",
      "label": "Pagination"
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Make section full width"
    },
    {
      "type": "checkbox",
      "id": "padding_full_width",
      "default": false,
      "label": "Enable side padding",
      "info": "Add left and right padding when section is full-width."
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_image",
      "default": false,
      "label": "Enable rounded corner images"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "450",
          "label": "450px"
        },
        {
          "value": "550",
          "label": "550px"
        },
        {
          "value": "650",
          "label": "650px"
        },
        {
          "value": "750",
          "label": "750px"
        },
        {
          "value": "natural",
          "label": "Adapt to first image"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        }
      ],
      "default": "550",
      "label": "Desktop height"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 0,
      "label": "Top padding"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "Bottom padding"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": true,
      "label": "Make section full width"
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_image_mobile",
      "default": false,
      "label": "Enable rounded corner images"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "250",
          "label": "250px"
        },
        {
          "value": "300",
          "label": "300px"
        },
        {
          "value": "400",
          "label": "400px"
        },
        {
          "value": "500",
          "label": "500px"
        },
        {
          "value": "natural",
          "label": "Adapt to first image"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        }
      ],
      "default": "500",
      "label": "Mobile height"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 0,
      "label": "Top padding"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "Bottom padding"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "limit": 7,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile image"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "Overlay opacity",
          "default": 0
        },
        {
          "type": "color",
          "id": "image_overlay_color",
          "default": "#202020",
          "label": "Overlay color"
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "Slide link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_slide",
          "default": false,
          "label": "Open this link in a new window"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Content Slide",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Slide Title",
          "label": "Heading"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 50,
          "max": 200,
          "unit": "%",
          "step": 10,
          "default": 170,
          "label": "Heading size"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "default": "h2",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Tell your brand's story through images</p>"
        },
        {
          "type": "header",
          "content": "Button Design"
        },
        {
          "type": "select",
          "id": "button_type",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "rounded",
              "label": "Rounded"
            },
            {
              "value": "rounded_corners",
              "label": "Rounded Corners"
            },
            {
              "value": "mixed",
              "label": "Mixed"
            }
          ],
          "label": "Button style",
          "default": "square"
        },
        {
          "type": "select",
          "id": "button_color_mobile",
          "options": [
            {
              "value": "hover",
              "label": "Use button hover color"
            },
            {
              "value": "color",
              "label": "Use button color"
            }
          ],
          "label": "Mobile primary button style",
          "default": "color"
        },
        {
          "type": "select",
          "id": "button_animation",
          "options": [
            {
              "value": "slide",
              "label": "Slide"
            },
            {
              "value": "fill_up",
              "label": "Fill up"
            },
            {
              "value": "sliced",
              "label": "Sliced with icon"
            },
            {
              "value": "underline",
              "label": "Underline"
            }
          ],
          "label": "Primary button hover animation",
          "default": "fill_up"
        },
        {
          "type": "html",
          "id": "custom_icon_button",
          "label": "Custom icon (SVG code)",
          "info": "Applies to 'Sliced with icon' animation type. For assistance with custom SVG code or fixing issues that arise from custom SVG code, please [contact our support](https://omnithemes.com/contact/)."
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button Label",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "First button link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button",
          "default": false,
          "label": "Open this link in a new window"
        },
        {
          "type": "checkbox",
          "id": "button_primary_1",
          "default": true,
          "label": "Show as primary button"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button Label",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Second button link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button_2",
          "default": false,
          "label": "Open this link in a new window"
        },
        {
          "type": "checkbox",
          "id": "button_primary_2",
          "default": false,
          "label": "Show as primary button"
        },
        {
          "type": "header",
          "content": "Desktop"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-center",
              "label": "Top center"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "middle-left",
              "label": "Center left"
            },
            {
              "value": "middle-center",
              "label": "Center"
            },
            {
              "value": "middle-right",
              "label": "Center right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom center"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "middle-left",
          "label": "Position"
        },
        {
          "type": "range",
          "id": "custom_horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Custom horizontal position",
          "info": "Used with Custom position only."
        },
        {
          "type": "range",
          "id": "custom_vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Custom vertical position",
          "info": "Used with Custom position only."
        },
        {
          "type": "select",
          "id": "alignment",
          "default": "center",
          "label": "Content alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "mobile_custom_position",
          "default": false,
          "label": "Use custom position"
        },
        {
          "type": "range",
          "id": "custom_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Custom horizontal position",
          "info": "Used with Custom position only."
        },
        {
          "type": "range",
          "id": "custom_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Custom vertical position",
          "info": "Used with Custom position only."
        },
        {
          "type": "select",
          "id": "alignment_mobile",
          "default": "center",
          "label": "Content alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "color_text_link",
          "label": "Text link",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "Button",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "color_text_button",
          "label": "Button text",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "label": "Button hover",
          "default": "#6b7050"
        },
        {
          "type": "color",
          "id": "color_text_button_hover",
          "label": "Button text hover",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "color_button_secondary",
          "label": "Secondary button",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_text",
          "default": "#FFFFFF",
          "label": "Secondary button text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "OT: Slideshow #1",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
